.popup {
    visibility: hidden;
    color: white;
    padding: 50px;
    background: black;
    position: sticky;
    left: 0; 
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    right: 0; 
    margin-inline: auto; 
    width: 200px;
    width: fit-content
}