body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
}

h2 {
    margin-top: 20px;
}

#login-container, #deployment-form, #commodity-type-form, #commodity-form {
    margin: 20px;
}

#map {
    border: 1px solid #ccc;
    border-radius: 8px;
}

footer {
    margin-top: 20px;
    font-size: 14px;
    color: gray;
}

button {
    margin-top: 10px;
}

#stationList {
    list-style-type: none;
    padding: 0;
    margin: 20px;
}
